body{
   background-color:rgb(9, 10, 15);
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
   

}
nav{
   font-size:medium;
   font-weight: bold;
   padding-bottom: 10px;
   text-align: right;
   

}
.home,.events,.photos,.menu,.reserve{
   padding-right: 25px;
   text-decoration: none;
   color: #D6B377;
   font-family: "Halisr Thin", Sans-serif;
   
}

#header{
    background-image:url(../images/entertainment-img1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:100px;
    text-align:center;
    font-size: larger;
    font-weight:bolder;
    color:rgb(30, 3, 89)
    
    
  
}
.first{
   color: #D6B377;
   padding: 10px;
   font-size: large;
   font-family: "Halisr Thin", Sans-serif;
   text-align:left;
   padding-top: 50px;
   padding-bottom: 50px


}
 .second{
 color: #D6B377;
 font-size: large;
 font-family: "Halisr Thin", Sans-serif;
 padding-left: 20px;
 
   
 }

.img1,.img2,.img3{
   padding-right:40px;
   padding-bottom:50px;
   padding-left:10px
   

 }

 .third{
   color:#D6B377;
   font-size: large;
   font-family: "Halisr Thin", Sans-serif;
   padding-left: 20px;
 }

.four,.five{
  
   padding-right:70px;
   padding-left: 10px;
   padding-bottom: 40px;

 }


.footer{
   color:#D6B377;
   font-family: "Halisr Thin", Sans-serif;
   font-size: medium;
   font-style: italic;
   display: flex;
   margin-left:15%;
   padding:20px;
   

   
} 
.address{
   color: white;
}

  
.email,.call{
   color:#D6B377;
   text-decoration: none;
}

.link,ul{
   color:#D6B377;
   font-size: large;
   font-weight: lighter;   
   margin-left:100px;
   list-style-type:none;
   font-family: "Halisr Thin", Sans-serif;
   text-decoration: none;
   

}
