.one{
    padding-top:0px;
    padding-right:25px;
    padding-bottom:25px;
 
  }
 .two{ 
    padding:25px;
 
    
 }
 .three{
    padding:25px;
    
 }

 <p><a class ="home" href="#">Home</a></p>
                    <p><a class ="home" href="#">Bookings</a></p>
                    <p><a class ="home" href="#">Bottle Service</a> </p>
                    <p><a class ="home" href="#">Events</a></p>
                    <p><a class ="home" href="#">Reservations</a></p>
                    <p><a class ="home" href="#">Lost and Found</a></p>


                    text-align:left;
                    padding-top: 50px;
                    padding-bottom: 50px
                 
                    .img2{ 
                        padding:25px;
                     
                        
                     }
                     .img3{
                        padding:25px;
                        
                     }
                     .four{
                        padding:30px;
                     }
                     .five{
                        padding:30px;
                     }